.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
:root{
  --main-ff: "Roboto", san-serif;
  --logo-ff: "Raleway", san-serif;

  --main-color: #212121;
  --context-color: #757575;

  --dark-acsent: #000000;
  --white-acsent: #FFFFFF;
  --white-border:  #EEEEEE;
  --white-border-icon:#AFB1B8;
  --white-сontext: rgba(255, 255, 255, 0.6);
 
  --white-background: #F5F4FA;
  --dark-background: #2F303A;
  --shadow-color:rgba(0, 0, 0, 0.15);

  --chromatic-usual: #2196F3;
  --chromatic-hover: #188CE8;  
}

ul {
  padding: 0;
  margin: 0;
}
h2{
  margin: 0 auto 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
h3 {
  margin: 0;
}
p {
  margin: 0;
}
body {
  font-family: "Roboto", san-serif;
  font-size: 14px;
  color: var(--main-color);
  background-color: var(--white-acsent);
  letter-spacing: 0.03em;
}
.link,
.logo {
  text-decoration: none;
  /* font-weight: 500; */
}

section {
  margin: 0 auto;
}

.container {
  width: 1600px;
  padding: 0 200px;
}
/* ---- Хедер -----*/
.container__header {
  height: 80px;
  margin: 0 auto;

  border-bottom: 1px solid #ECECEC;
  /* align-items: center; */
}
.header {
  display: flex;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  /* align-items: baseline; */
  align-items: center;
}
.header__items-nav {
  margin-left: 93px;
}
.header__pagination {
  
}
.nav__link,
.contakt__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.contakt__link {
  color: var(--context-color);
}

.logo {
  font-family: var(--logo-ff);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--dark-acsent);
}
.accent {
  color: var(--chromatic-usual);
}
.header__items {
  display: flex;
}
.header__item:not(:last-child) {
  margin-right: 50px;
}
.header__item:hover,
.header__item:active {
  color: var(--chromatic-hover);
}


.items,
.filters__items,
.filters__galery {
  list-style: none;
}
/* при натисканні  */
.link:active
{
  color: var(--chromatic-usual);
}
.nav__link:hover,
.contakt__link:hover {
  color: var(--chromatic-usual);
}
/* активна сторінка */
.active .nav__link{
  color: var(--chromatic-usual);
}
/* ------------ Main ---------- */

/* ------------ hero -----------*/
.hero {
  width: 1600px;
  height: 600px;
  margin-bottom: 94px;
  background-color: var(--dark-background);
}
.hero__title { 
  /* display: block;  */
  padding-top: 200px; 
  width: 696px;
  margin: 0 auto 30px;
  text-align: center;
  
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-acsent); 
}
.button {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-acsent);
  background-color: var(--chromatic-usual);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
  /* це для мене шпаргалка (щоб було перед очима для анімації) 
  transition-duration: 0.2s; */
}

/* -------- features ---------------- */
.container__features{
  margin: 0 auto 94px;
}
.features {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  align-items: center;
  justify-content: space-between;

  margin: 0px 0px 94px 0;
  padding: 0 15px;
}
.feature__title {
  /* font-size:з таблиці стилів користувача h3 не перебилось наслідуванням з body */
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature__text {
  line-height: 1.71;
  color: var(--context-color);
}

.activity__title {
  /* font-weight: 700;
  font-size: 36px;
  line-height: 1.17; */

}
.features__items {
  list-style: none;
  display: flex;

  gap: 0px 30px;
  justify-content: space-between;


}
.features__item {
  /* flex-basis: calc((100%-8px) / 4); */
  width: 270px;
  /* justify-content: right; */
}
/* ------------ activity ----------- */
.activity {
  max-width: 1170px;
  margin-bottom: 94px;
}
.activity__title,
.team__title {
  text-align: center;
}
.activity__items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  /* max-width: 1200px; */ 
}

 /* ---- team -------- */
 .container__team {
  margin: 0 auto;
  background: var(--white-background);
 }
 .team {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  padding: 94px 15px;
  /* max-width: 1200px; */

  /* flex-direction: column; */
  /* margin: 0px 0px 0px 0; */

 }
 .team__title {
  /* justify-items: center; */
 }
 .team__items{
  list-style: none;
  display: flex;
 
  gap: 0px 30px;
  justify-content: space-between;
  
 }
 .team__card {
  padding: 0 0 30px;
  text-align: center;
  background: var(--white-acsent);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
 }
 .team__img {
  padding-bottom: 30px;
 }
 .team__subtitle {
  font-weight: 500;
  font-size: 16px;  
  line-height: 1.19;
 }
 .team__text {
  font-size: 16px;
  line-height: 1.19;
  color: var(--context-color);
 }

 /* ------- footer -------- */
 .footer {
  width: 1600px;

  padding: 60px 215px;
  margin: 0 auto;

  background-color: var(--dark-background);

 }
 .logo-white {
  color: var(--white-acsent);
 }
 .footer__item:not(:last-child) {
  margin-bottom: 9px;
 }
 .footer__address {
  padding-top: 20px;
  font-style: normal;

 }
 .address {
  line-height: 1.71;
  color: var(--white-acsent);

 }
.footer__link {
  line-height: 1.71;
  color: var(--white-сontext);
}  

/* ===================================== */

/* --------------- PORTFOLIO --------------- */
.container__portfolio {
  margin: 94px auto;
  display: flex;
  flex-direction: column;
  
}
.filters__items {
  display: flex;
  margin:0 auto 50px;
}

.filters__button {

  font-family: "Roboto", san-serif; 
  font-size: 16px; 
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.63;
  color: var(--main-color);

  padding: 6px 22px;
  border: none;
  border-radius: 4px;
}
.filters__item:not(:last-child) {
  margin-right: 8px;
}
/* display: block;
margin: 0 auto;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
color: var(--white-acsent);
background-color: var(--chromatic-usual);

box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

cursor: pointer;
padding: 10px 32px;
border-radius: 4px; */



.filters__button:hover,
.filters__button:active,
.filtered{
  color: var(--white-acsent);
  background-color: var(--chromatic-hover);
  cursor: pointer;
  
}

.filtered {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* ----------- galery ------------ */
.filters__galery {
  display: flex;
  flex-wrap: wrap;
  /* margin: 0 200px; */
  padding: 0 15px;
  gap: 30px;

}
.filters__card{
  width: 370px;
  border: 1px solid var(--white-border);
}
.galery__card--subscribe{
  padding: 20px 24px;
}
.filters__card-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.filters__card-content {
  font-size: 16px;
  line-height: 1.88;
  color: var(--context-color);
}





